

body {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/980a8682-fc41-45db-863f-0ab02dad6f07/dfgr4ej-a8518f25-6643-4b7a-bb69-8364cd97b936.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk4MGE4NjgyLWZjNDEtNDVkYi04NjNmLTBhYjAyZGFkNmYwN1wvZGZncjRlai1hODUxOGYyNS02NjQzLTRiN2EtYmI2OS04MzY0Y2Q5N2I5MzYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.0KEG1kJQP-DbHOoWaxP3t1b8uCmoMGk6q6YRjbJQ1V0');
  background-size: cover;
  height: 90vh;
  opacity:1;
  font-family: "Lexend", sans-serif;
}
  
@media (max-width: 768px) {
  section {
    width: 100%; /* Em telas menores, ajuste para largura total */
  }
}

  
section {
  -webkit-box-shadow: 10px 0px 50px 10px rgba(45, 40, 40); 
  box-shadow: 5px 0px 50px 5px rgba(168, 52, 52, 0.64);
  box-shadow: 0;
  
  width: 90%; /* Em vez de um valor fixo, use uma porcentagem */
  margin: 0 auto; /* Centralize a seção horizontalmente */

  display:block;
  margin-left:auto;
  margin-right: auto;
  max-width: 420px;
  margin-top: 150px;
  background-color:rgb(37, 37, 37);
  padding: 40px;
  border-radius: 5%;
  text-align: center;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 1s forwards, moveInFromLeft 1s forwards, float 3s ease-in-out infinite;

}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Mova para cima */
  }
  100% {
    transform: translateY(0);
  }
}
  
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
  }

section h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


header {
  background-size: cover;
  border-radius: 20%;
  height: 120px;
  animation: spin 4s linear infinite;
}

header img {
  border: 3px solid #fff; /* Define uma borda sólida de 3 pixels na cor branca */
  border-radius: 10px; /* Opcional: Adiciona uma borda arredondada */
  max-width: 100%; /* Imagens redimensionáveis */
  height: auto;
}


@keyframes spin {
  50% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}
  
  
  div {
    padding: 25px;
    border-style: inset;
    background-color: rgb(123, 123, 123);
    color: rgb(219, 219, 219);
  }
  
  img {
    width:200px;
    height:200px;
    border-radius: 150%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-45%);
  }
  
  /*Link não visitado */
  a:link {
    color: rgb(196, 31, 31);
    text-decoration: none;
  }
  
  /*Link já visitado*/
  a:visited {
    color: gray;
    text-decoration: none;
  }
  
  /*Quando o mouse passa por cima*/
  a:hover {
    color:  white;
    text-decoration: none;
  }
  
  /*Link ativo/selecionado*/
  a:active {
    color: white;
    text-decoration: none;
  }
  
  /*botao*/

.glow-on-hover {
  width: 300px;
  height: 80px;
  border: none;
  outline: none;
  color: #fff;
  background: #5a5a5a;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: "Lexend", sans-serif;
  display:inline-flex;
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: center; /* Centraliza os itens horizontalmente */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}

.logo {
  width: 20px; /* Ajuste o tamanho conforme necessário */
  height: auto;
  margin-right: 10px; /* Espaçamento entre a logo e o texto */
  margin-top: 0; /* Remove o espaçamento superior */
}

.contatoemail:hover{
  background: #666666;
}

.contatoemail{
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: white;
  background: gray;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: "Lexend", sans-serif;
  
}

.contatoemail:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -3px;
  left:-3px;
  background-size: 500%;
  text-align: center;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 30px;
}

.contatoemail:active{
  color:rgb(255, 255, 255);
  
}

.contatoemail:active:after {
  background: transparent;
}

.contatoemail:hover:before {
  opacity: 1;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    text-align: center;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;  
}

.glow-on-hover:active {
    color: #5f5f5f
}

.glow-on-hover:active:after {
    background: transparent;
    font-size: smaller;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4d4d4d;
    left: 0;
    top: 0;
    border-radius: 10px;
    text-align: center;
    font-size: smaller;

}


